<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Table - DataGovernance</title>
    <link rel="stylesheet" href="static/table/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="static/table/fonts/fontawesome-all.min.css">
</head>

<body id="page-top">
    <div id="wrapper"><nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"></div>
            <div class="sidebar-brand-text mx-3"><span>DataGovernance</span></div>
        </a>
        <hr class="sidebar-divider my-0" />
        <ul class="nav navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item"><a class="nav-link active" href="table.html"><i class="fas fa-table"></i><span>DataMap</span></a></li>
        </ul>
		<button class="btn btn-primary" type="button">hive</button>
		<button class="btn btn-primary" type="button">mysql</button>
		<button class="btn btn-primary" type="button">redis</button>
		<button class="btn btn-primary" type="button">ElasticSearch</button>
        <ul
            class="nav navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item"><a class="nav-link active" href="table.html"><i class="fas fa-table"></i><span>DataBlood</span></a></li>
            </ul>
            <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
</nav>
        <div class="d-flex flex-column" id="content-wrapper"><div id="content">
    <div class="container-fluid">
        <div class="card shadow"></div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                </tr>
                <tr>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © DataGovernance 2021</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="static/table/js/jquery.min.js"></script>
    <script src="static/table/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="static/table/js/theme.js"></script>
</body>

</html>